{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block background %}
    class="background-profile" style="background: url('{{ asset('build/images/background/bgimg' ~ random(1, 11) ~ '.jpeg') }}') no-repeat fixed center; background-size: cover;"
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <header class="arrow-header my-3 text-uppercase">
        <h1 class="mt-2">Inscription</h1>
    </header>
    <div class="container top-20-vh">
        {{ form_start(registrationForm, {'attr': {'class': 'form-kyosc'} }) }}
        <div class="row mt-4">
            <div class="form-group col-lg-4 col-md-6 col-sm-6 col-6">
                {{ form_widget(registrationForm.firstName) }}
                {{ form_errors(registrationForm.firstName) }}
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-6 col-6">
                {{ form_widget(registrationForm.lastName) }}
                {{ form_errors(registrationForm.lastName) }}
            </div>
            <div class="form-group col-lg-4 col-md-8 col-sm-12">
                {{ form_widget(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}
            </div>
        </div>
        <div class="row">
            <div class="transparent-background-dark p-2">
                <span> Votre mot de passe doit contenir au minimum 8 caractères, à savoir : au moins une lettre minuscule, une lettre majuscule et un chiffre. </span>
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-6">
                {{ form_widget(registrationForm.password.first) }}
                {{ form_errors(registrationForm.password.first) }}
            </div>
            <div class="form-group col-lg-4 col-md-6 col-sm-6">
                {{ form_widget(registrationForm.password.second) }}
                {{ form_errors(registrationForm.password.second) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 col-sm-12 col-12">
                {{ form_widget(registrationForm.address) }}
                {{ form_errors(registrationForm.address) }}
            </div>
            <div class="form-group col-md-3 col-sm-6 col-6">
                {{ form_widget(registrationForm.city) }}
                {{ form_errors(registrationForm.city) }}
            </div>
            <div class="form-group col-md-3 col-sm-6 col-6">
                {{ form_widget(registrationForm.postalCode) }}
                {{ form_errors(registrationForm.postalCode) }}
            </div>
        </div>
        <div class="form-group form-group-cgu">
            {{ form_row(registrationForm.agreeTerms) }}
            <div><a data-toggle="modal" data-target="#modalCGU" class="cgu-link transparent-background-dark p-2 cursor-pointer">Voir les mentions légales</a></div>
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
        <!-- modal for CGU -->
        <div class="modal fade" id="modalCGU" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <h1 class="arrow-header my-3">Mentions légales</h1>
                    <div class="dark-container cgu-text text-light mb-5">
                        <p class="about-text hide-before-scroll show-on-scroll">
                            La plateforme KYOSC est un espace d’information, de collaboration, de partage et d’échanges dédié à une communauté de membres partageant des sujets et/ou des projets concernant le sport outdoor.
                            <br>
                            KYOSC a été développé à l’initiative de Bertrand Ollagnon et Jean-Christophe Simon, pour favoriser la création de challenges entre les membres de la plateforme et les partenaires de KYOSC. Elle est un outil pour la définition, la conduite et la réalisation d’aventures sportives et facilite l’effet réseau entre les différentes communautés liées au sport outdoor.
                            <br>
                            Avant de vous inscrire comme membre, merci de consulter les conditions générales d’utilisation de KYOSC qui suivent :
                        </p>
                        <h2 class="hide-before-scroll show-on-scroll mt-3">1. Accès au service</h2>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            Pour accéder au site et utiliser ses différents services, l’utilisateur doit créer un compte de «Membre » en suivant les étapes du formulaire d’inscription. Pour pouvoir s’inscrire et bénéficier des services de KYOSC, l’utilisateur doit lire et accepter les présentes conditions générales d’utilisation. Si le visiteur n'accepte pas les conditions d'utilisation de la plateforme, il ne pourra pas l'utiliser. L’utilisateur est informé que la création d’un compte sur KYOSC constitue une collecte de données personnelles et accepte cette collecte. Si l’utilisateur s’oppose à la collecte de données personnelles, il ne doit pas créer de compte.
                        </p>
                        <h3 class="hide-before-scroll show-on-scroll">1.1. Modification des présentes conditions générales d’utilisation
                        </h3>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            Les présentes conditions d’utilisation peuvent être modifiées à tout moment. L’utilisateur sera prévenu de ces modifications, au préalable. Si l'utilisateur continue d'utiliser KYOSC après modification des conditions d'utilisation, cela signifie qu'il est en en accord avec les modifications apportées sur ces conditions
                        </p>
                        <hr>
                        <h2 class="hide-before-scroll show-on-scroll">2. Membres de KYOSC</h2>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            Les utilisateurs de KYOSC sont des « membres » invités ou inscrits à leur demande.
                            Pour tirer le meilleur parti des outils et fonctionnalités proposés par KYOSC, l’utilisateur est invité à créer son compte membre en respectant les étapes d’inscription.
                        </p>
                        <h3 class="hide-before-scroll show-on-scroll">2.1. Inscription ou création d’un compte "membre"</h3>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            Lors de la phase d’inscription, l’utilisateur fournit les informations qui apparaîtront sur son profil. Une fois le formulaire d’inscription complété, l’utilisateur dispose d’une fiche "membre" (ou "profil"). Sa fiche est consultable tout ou partie par les autres membres de KYOSC.
                        </p>
                        <h3 class="hide-before-scroll show-on-scroll">2.2. Responsabilité</h3>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            L'auteur d'un message est seul responsable des propos qu'il tient.
                            En cas de non respect des dispositions de cette charte de bonne conduite et des lois et réglementations en vigueur en France, l'auteur s'expose, au delà de la suppression de son message, aux sanctions civiles ou pénales prévues.
                        </p>
                        <h3 class="hide-before-scroll show-on-scroll">2.3. Informatique et libertés</h3>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            Conformément aux dispositions de la loi "Informatique et Libertés" du 6 janvier 1978, les auteurs disposent d'un droit d'accès, de modification, de rectification et de suppression des données qui les concernent.
                        </p>
                        <h3 class="hide-before-scroll show-on-scroll">2.4. Protection des données personnelles</h3>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            Un cookie dit "persistant" est installé sur votre poste suite à votre inscription sur KYOSC. Ce cookie sert à accéder automatiquement à votre espace et à publier des challenges sur KYOSC sans vous reconnecter lors de votre navigation sur internet. Le cookie est conservé dans votre navigateur, et peut-être supprimé. Les cookies sont également utilisés à des fins statistiques et de sécurité.
                        </p>
                        <h3 class="hide-before-scroll show-on-scroll">2.5. Suppression du compte Membre</h3>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            L'utilisateur peut supprimer son compte à tout moment. La suppression de son compte entraînera la suppression de l'ensemble des données personnelles liées au compte de l'utilisateur. Les contenus générés par l'utilisateur (messages, challenges, etc.) sont susceptibles de rester visibles sur KYOSC. La référence à son auteur sera en revanche invisible.
                        </p>
                        <hr>
                        <h2 class="hide-before-scroll show-on-scroll">3. Règles de fonctionnement général</h2>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            Cette plateforme de création, d’échange et de partage offre un espace avec des modules fonctionnels de participation par challenges ou thématiques sportives d’intérêt.
                            En se connectant à KYOSC chaque utilisateur s'engage à respecter les règles déontologiques de la plateforme:
                        </p>
                        <ul class="hide-before-scroll show-on-scroll">
                            <li>Ne pas effectuer d'opérations pouvant nuire au bon fonctionnement de la plateforme.</li>
                            <li>Exercer une vigilance toute particulière dans l'utilisation des éléments qui sont mis à sa disposition et observer toutes les précautions d'usage.</li>
                            <li>Ne pas diffuser de contenus, de messages ou de liens internet à caractère raciste ou diffamatoire, grossier ou injurieux, agressif ou violent, discriminatoire.</li>
                            <li>Ne pas publier, ni diffuser des informations contraires aux droits d’auteurs ou droits voisins, au droit applicable aux bases de données, au droit à l’image ou au droit au respect de la vie privée, qui enfreindraient toute autre disposition législative ou réglementaire
                                en vigueur.</li>
                            <li>Seuls les membres adhérents, les partenaires et l’équipe opérationnelle de KYOSC sont autorisés à communiquer des informations via la plateforme.</li>
                            <li>Ne pas diffuser des numéros de téléphone ou des adresses e-mail non publiques sans l'autorisation des personnes ou sociétés concernées.</li>
                            <li>Respecter les règles de droits d’accès et d’usage qui différent selon le statut attribué à chaque membre (administrateurs, créateur, membre, visiteur,…) par les administrateurs de la plateforme et les fondateurs-administrateurs des groupes collaboratifs.</li>
                        </ul>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            Les utilisateurs qui ne respecteraient pas les présentes règles sont susceptibles de voir leur compte membre supprimé par les administrateurs de KYOSC.
                        </p>
                        <hr>
                        <h2 class="hide-before-scroll show-on-scroll">4. Règles d’usage spécifiques aux groupes collaboratifs (clans)</h2>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            KYOSC est un espace qui permet l’ouverture de groupes aussi appelés clans. Les groupes peuvent être publics (visibles et accessibles par l’ensemble des membres de la plateforme) ou privés (visibles, mais réservés nominativement à plusieurs membres invités). L’ouverture des groupes doit répondre à des besoins et des usages partagés par plusieurs membres.
                            Ouverte à l’ensemble des membres de KYOSC, l’accessibilité des groupes publics sera sans condition, si ce n’est l’intérêt personnel de chaque membre pour le groupe et ses objectifs, et sa volonté de partager de l’information, de communiquer sur le sujet, de participer aux challenges et d’en soumettre.
                        </p>
                        <h3 class="hide-before-scroll show-on-scroll">4.1. Création des groupes</h3>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            Chaque membre inscrit sur la plateforme KYOSC a la possibilité de créer un groupe ou de contribuer aux échanges au sein des groupes constitués dont il/elle fait partie en respectant les règles de fonctionnement générales (art.4).
                            La création d’un groupe implique de le faire vivre et d’animer les échanges entre les membres qui le composent. C’est la fonction principale des créateurs des groupes. La valeur ajoutée et l’intérêt de la plateforme résident principalement dans l’usage que les membres en font.
                        </p>        <p class="about-text hide-before-scroll show-on-scroll">
                            A ce titre, le créateur d’un nouveau groupe s’engage à :
                        </p>
                        <ul class="hide-before-scroll show-on-scroll">
                            <li>Créer un groupe qui n’existe pas déjà au sein de KYOSC et qui répond aux besoins partagés par les membres ou à ceux de son « clan »,</li>
                            <li>Ajouter du contenu, créer des challenges,</li>
                            <li>Assurer l’animation du groupe,</li>
                            <li>Contribuer au respect des conditions générales d’utilisation de KYOSC par les membres du groupe,</li>
                            <li>Accepter d’être sollicité par l’équipe de KYOSC, entre autre pour l’évaluation des usages.</li>
                        </ul>
                        <h3 class="hide-before-scroll show-on-scroll">4.2. Publication de contenus, images, documents</h3>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            Le membre de KYOSC a la possibilité de publier des contenus écrits, des documents, ainsi que des images pour illustrer les différents challenges. Le membre atteste disposer de l'ensemble des droits sur les contenus et documents publiés. Les éditeurs de KYOSC ne sauraient être tenus responsable de l'hébergement de documents publiés par un utilisateur non titulaire des droits ou sans consentement du ou des auteurs. Toute requête en cas de contenu ou document publié sur la plateforme sans l’autorisation de son auteur doit être envoyée aux administrateurs de KYOSC et sera immédiatement traitée par l’équipe d’animation du réseau.
                            La confidentialité des informations diffusées sur la plateforme peut être garantie par la création de groupes collaboratifs privés (réservés à un nombre limité de membres), ainsi que par le respect des clauses de confidentialités et de diffusion propre à chaque document, note…
                        </p>
                        <hr>
                        <h2 class="hide-before-scroll show-on-scroll">5. Informations complémentaires</h2>
                        <p class="about-text hide-before-scroll show-on-scroll">
                            Pour garantir le respect de ces règles, KYOSC a mis en place un système de modération des contenus abusifs et se réserve le droit de ne pas publier et de supprimer sans préavis tout propos contraire à ces recommandations et exigences.
                            Par ailleurs, pour rendre le site agréable à consulter, nous vous serions reconnaissants de rédiger des messages lisibles et compréhensibles par tous, donc sans abréviation, sans langage de type SMS et en soignant votre orthographe. En cas de difficulté de compréhension d'un message ou d’un challenge, nous serons dans l'obligation de le refuser.
                            La qualité de ce réseau dépend de la qualité des communications, des échanges d’information, des conversations et des collaborations en ligne entre les membres."
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of modal for CGU -->
        <div class="button-registration-login mt-3 d-flex justify-content-between">
            <a href="{{ path('app_login') }}" class="btn mr-2 align-self-center btn-register" type="submit">
                J'ai déjà un compte
            </a>
            <button class="btn ml-2 align-self-center btn-login" type="submit">
                S'inscrire
            </button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
