{% extends 'base.html.twig' %}

{% block title %}Tous les clans{% endblock %}

{% block body %}
    <header {% if sportColor %} class="index-header d-flex align-items-center text-uppercase mt-5 mb-5" style="background: {{ sportColor }};"
    {% else %} class="d-flex align-items-center text-uppercase mt-3 mb-5 bg-dark text-white"
            {% endif %}>
        <img src="{{ sportLogo }}" alt="Logo KYOSC" class="logo-challenge">
        <h1 class="ml-1 challenge-index-title text-white">Tous les clans</h1>
    </header>
    <section class="my-4">
        <div class="position-relative frmSearch w-100 d-flex flex-column align-items-center justify-content-center">
            <input class="search-bar w-75 form-control border-0 bg-light rounded rounded-pill shadow-sm" type="text" id="search-box"/>
            <span class="floating-label">Rechercher un clan</span>
        </div>
        <div id="suggestion-box" class="w-50 m-auto"></div>
    </section>
    <div class="form-kyosc d-flex align-items-center justify-content-center mb-5">
        <a href="{{ path('clan_new') }}" class="btn-login btn btn-lg">Créer un clan</a>
    </div>
    <main class="container-fluid">
        <div class="row justify-content-center">
            {% for clan in clans %}
                <div class="col-12 col-sm-6 col-md-4 col-xl-3 p-3 position-relative index-card-max-width">
                    <a class="card text-decoration-none text-dark no-bg-border"
                       href="{{ path("clan_show", {id: clan.id}) }}">
                        <div class="position-relative">
                            {% if clan.banner is not null %}
                                <img src="{{ vich_uploader_asset(clan, 'bannerFile') | imagine_filter('challenge_thumb') }}"
                                     alt="photo du clan" class="w-100 challenge-photo-container">
                            {% else %}
                                <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                     alt="photo par défaut du clan" class="w-100 challenge-photo-container">
                            {% endif %}
                            {% if clan.isPublic %}
                                <span class="is-public-text open-text">Ouvert</span>
                            {% else %}
                                <span class="is-public-text close-text">Fermé</span>
                            {% endif %}
                            <div class="comment-counter p-2 position-absolute">
                                <img class="delete-icon rounded" src="{{ asset('build/images/picto/comment.png') }}">
                                <span class="transparent-background-dark p-1">{{ clan.messages|length }}</span>
                            </div>
                            <div class="user-counter p-2 position-absolute">
                                <img class="delete-icon rounded" src="{{ asset('build/images/picto/group.png') }}">
                                <span class="transparent-background-dark p-1">{{ clan.members|length }}</span>
                            </div>
                        </div>
                    </a>
                    <div class="card-body p-2 text-center">
                        <h2 class="card-title text-center text-uppercase">{{ clan.name }}</h2>
                        <a class="journey-link-dark" data-toggle="modal" data-target="#modalJourney{{ clan.id }}">Voir la description</a>
                        <div class="modal fade" id="modalJourney{{ clan.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h2 class="modal-title" id="exampleModalLongTitle">"{{ clan.name }}" :</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ clan.description}}
                                    </div>
                                    <div class="h6 mt-4 mx-auto">Créé le {{ clan.createdAt |format_datetime(pattern="dd MMMM Y",locale='fr') }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Il n'existe pas de clan actuellement.</p>
            {% endfor %}
        </div>
    </main>
    <div class="form-kyosc d-flex align-items-center justify-content-center mt-4">
        <a href="{{ path('clan_new') }}" class="btn-login btn btn-lg">Créer un clan</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        const suggestionBox = $("#suggestion-box");
        const searchBox = $('#search-box');
        $(document).ready(function() {
            searchBox.keyup(function(){
                suggestionBox.html("");
                $.ajax({
                    type: "POST",
                    url: "{{ path('clan_handle_search') }}",
                    data:'_query='+$(this).val(),
                    success: function(data){
                        suggestionBox.html("");
                        data.forEach(function(clan){
                            let BGStyle = `background: url('{{ asset('uploads/challenge/challenge-default.jpeg') }}') no-repeat center; background-size: cover;`;
                            if (clan.banner !== null) {
                                BGStyle = `background: url('https://kyosc.com/uploads/clan/${
                                    clan.banner
                                }') no-repeat center; background-size: cover;`;
                            }
                            let html = `${"<div class='d-flex'>"
                                + `<a href='/clan/`}${clan.id}' style="${BGStyle}" class='w-100 py-2 px-5 d-flex justify-content-center align-items-center text-dark text-center border border-dark rounded text-decoration-none'><span class="transparent-background-dark p-3">${
                                    clan.name
                                }</span></a>`
                                + '</div>';
                            suggestionBox.prepend(html);
                        })
                    }
                });
            });
        });
    </script>
{% endblock %}
