{% extends 'base.html.twig' %}
{% block title%} Mon profil {% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block background %}
    class="background-profile" style="background: url('{{ asset('build/images/background/bgimg' ~ random(1, 11) ~ '.jpeg') }}') no-repeat fixed center; background-size: cover;"
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-kyosc'} }) }}
    <div class="container">
        <header class="arrow-header my-3 text-uppercase">
            <h1 class="mt-2">Mes informations</h1>
        </header>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="m-3">
                <a href="{{ path("profil_show", {id: app.user.id}) }}" class="btn-login btn btn-lg">Voir mon profil public</a>
            </div>
            <div class="form-kyosc m-3 d-flex flex-column flex-md-row justify-content-around align-items-center w-100">
                <a class="btn btn-profil text-uppercase text-white m-2"
                   data-toggle="modal" data-target="#profileEditionModal"
                >Modifier mes informations personnelles</a>
                <a class="btn btn-profil text-uppercase text-white m-2"
                   data-toggle="modal" data-target="#favoriteSportChoice"
                >Modifier mes sports préférés</a>
                <a class="btn btn-profil text-uppercase text-white m-2"
                   data-toggle="modal" data-target="#favoriteBrandsChoice"
                >Modifier mes marques préférées</a>
                <a class="btn btn-profil text-uppercase text-white m-2"
                   data-toggle="modal" data-target="#favoriteDestinationsChoice"
                >Modifier mes destinations préférées</a>
            </div>
            {% if not form.vars.valid %}
                <div class="transparent-background-dark p-2 d-flex flex-column justify-content-center align-items-center">
                    {% for child in form.children %}
                        {%for error in child.vars.errors%}
                            <span class="text-kred font-weight-bold">! {{error.message}}</span>
                        {%endfor%}
                    {%endfor%}
                </div>
            {%endif%}
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-center">
        <div>
            <label for="edit_profil_profilPhotoFile_file" class="form-group img-display">
                {% if app.user.profilPhoto is not null%}
                    <img id="output" src="{{ vich_uploader_asset(user, 'profilPhotoFile') | imagine_filter('avatar_thumb') }}" alt="{{ app.user.profilPhoto }}" class="profil-photo cursor-pointer w-75">
                {% else %}
                    <img id="output" src="{{ asset('uploads/profils/default-profil-picture.png') }}" alt="default profil picture" class="profil-photo cursor-pointer">
                {% endif %}
            </label>
        </div>
        <div class="transparent-background-dark text-white p-4 m-3 max-width-800">
            <h3>Nom : {{ app.user.firstName }} {{ app.user.lastName }}</h3>
            <h4>Pseudo : {{ (app.user.pseudo) ? app.user.pseudo : 'non renseigné' }}</h4>
            <p class="text-white">Biographie : {{ (app.user.biography) ? app.user.biography : 'non renseignée' }}</p>
            <div class="d-flex flex-column">
                <h4>Sports préférés :</h4>
                <div class="d-flex flex-wrap align-items-center">
                    {% for sport in app.user.favoriteSports %}
                        <div class="d-flex flex-column align-items-center m-3">
                            <img class="img-goutte" src="/uploads/goutte/{{ sport.goutte }}" alt="logo {{ sport.name }}">
                            <p class="text-white">
                                {{ sport.name }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {#    Start of profile edition modal #}
    <div class="modal fade" id="profileEditionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Modifier mes informations personnelles</h2>
                    <button type="button" class="close bg-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="{{ asset('build/images/picto/close.png') }}" class="close-picto m-2" alt="white closing cross"></span>
                    </button>
                </div>
                <div class="bg-dark modal-body d-flex flex-column justify-content-center align-items-center p-5 form-kyosc">
                    <div class="mb-3">
                        <button type="submit" class="btn-login btn btn-lg">Enregistrer mes modifications</button>
                    </div>
                    <div class="scroll-modal">
                        <div class="row">
                            <div class="form-group col-md-6 col-12 col-lg-6">
                                <a type="submit" class="btn btn-profil width-margin mt-0" href="{{ path("profil_edit_email") }}">Modifier mon mail</a>
                            </div>
                            <div class="form-group col-md-6 col-lg-6">
                                <a type="submit" href="{{ path("app_forgot_password_request") }}" class="width-margin btn btn-profil">Modifier mon mot de passe</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <h3 class="text-white h6">Prénom</h3>
                                {{ form_widget(form.firstName) }}
                                {{ form_errors(form.firstName) }}
                            </div>
                            <div class="form-group col-6">
                                <h3 class="text-white h6">Nom</h3>
                                {{ form_widget(form.lastName) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                            <div class="form-group col-lg-8">
                                <h3 class="text-white h6">Pseudo</h3>
                                {{ form_widget(form.pseudo) }}
                                {{ form_errors(form.pseudo) }}
                            </div>
                            <div class="form-group col-lg-4">
                                <h3 class="text-white h6">Age</h3>
                                {{ form_widget(form.age) }}
                                {{ form_errors(form.age) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12">
                                <h3 class="text-white h6">Adresse</h3>
                                {{ form_widget(form.address) }}
                                {{ form_errors(form.address) }}
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <h3 class="text-white h6">Ville</h3>
                                {{ form_widget(form.city) }}
                                {{ form_errors(form.city) }}
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <h3 class="text-white h6">Code postal</h3>
                                {{ form_widget(form.postalCode) }}
                                {{ form_errors(form.postalCode) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <h3 class="text-white h6">Biographie</h3>
                            {{ form_widget(form.biography) }}
                            {{ form_help(form.biography) }}
                            {{ form_errors(form.biography) }}
                        </div>
                        <div class="form-group">
                            <h3 class="text-white h6">Témoignage</h3>
                            {{ form_widget(form.testimony) }}
                            {{ form_errors(form.testimony) }}
                        </div>
                        <div class="fileUpload">
                            <h3 class="text-white h6">Photo de profil</h3>
                            <div class="pl-4">
                                {{ form_widget(form.profilPhotoFile) }}
                                {{ form_errors(form.profilPhotoFile) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    end of profile edition modal #}
    {#    start of favorite sports modal #}
    <div class="modal fade" id="favoriteSportChoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Choix de mes sports préférés</h2>
                    <button type="button" class="close bg-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="{{ asset('build/images/picto/close.png') }}" class="close-picto m-2" alt="white closing cross"></span>
                    </button>
                </div>
                <div class="bg-dark modal-body d-flex flex-column justify-content-center align-items-center p-3 form-kyosc">
                    <div class="col-12 col-lg-6 p-2 d-flex justify-content-center">
                        <button type="submit" class="btn-login btn btn-lg">Enregistrer</button>
                    </div>
                    <div class="scroll-modal">
                        {% for category in categories %}
                            <div class="d-flex flex-column align-items-center w-100 mt-2 pt-2 transparent-background-dark">
                                <h3 class="text-center" style="color: {{ category.color }}"><img src="/uploads/logo/{{ category.logo }}" class="home-carousel-logo"> Univers {{ category.name }}</h3>
                                <div class="d-flex flex-wrap justify-content-center align-items-center w-100">
                                    {% for sport in form.favoriteSports.children %}
                                        {% if sport.vars.attr['category'].id == category.id %}
                                            <div class="favorite-sport-container d-flex flex-column align-items-center form-group cursor-pointer py-2 m-1 {{ sport.vars.checked? "my-sport-check" : "" }}"
                                                 data-checkBoxContainer
                                            >
                                                <img class="img-goutte" src="/uploads/goutte/{{ sport.vars.attr['data-img'] }}" alt="{{ sport.vars.label }}">
                                                <p class="m-0">
                                                    <label class="m-0 text-center" for="{{ sport.vars.id }}">{{ sport.vars.label }}</label>
                                                </p>
                                                <div class="d-none">
                                                    {{ form_widget(sport, {'attr': {'class': 'd-none'}}) }}
                                                </div>
                                                {{ form_errors(sport) }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    end of favorite sports modal #}
    {#    start of favorite brands modal #}
    <div class="modal fade" id="favoriteBrandsChoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Choix de mes marques préférées</h2>
                    <button type="button" class="close bg-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="{{ asset('build/images/picto/close.png') }}" class="close-picto m-2" alt="white closing cross"></span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center form-kyosc bg-dark">
                    <div class="form-group col-lg-8 col-md-6 col-sm-12 col-12 align-self-center">
                        {{ form_help(form.favoriteBrands) }}
                        {{ form_widget(form.favoriteBrands) }}
                        {{ form_errors(form.favoriteBrands) }}
                    </div>
                    <div class="form-group col-lg-8 col-md-6 col-sm-12 col-12 align-self-center">
                        {{ form_help(form.brandSuggestion) }}
                        {{ form_widget(form.brandSuggestion) }}
                        {{ form_errors(form.brandSuggestion) }}
                    </div>
                    <div class="col-12 col-lg-6 p-3 d-flex justify-content-center align-self-center">
                        <button type="submit" class="btn-login btn btn-lg">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    end of favorite sports modal #}
    {#    start of favorite destinations modal #}
    <div class="modal fade" id="favoriteDestinationsChoice" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Choix de mes marques préférées</h2>
                    <button type="button" class="close bg-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="{{ asset('build/images/picto/close.png') }}" class="close-picto m-2" alt="white closing cross"></span>
                    </button>
                </div>
                <div class="modal-body d-flex flex-column justify-content-center align-items-center form-kyosc bg-dark">
                    <div class="form-group col-lg-8 col-md-6 col-sm-12 col-12 align-self-center">
                        {{ form_help(form.favoriteDestination) }}
                        {{ form_widget(form.favoriteDestination) }}
                        {{ form_errors(form.favoriteDestination) }}
                    </div>
                    <div class="col-12 col-lg-6 p-3 d-flex justify-content-center align-self-center">
                        <button type="submit" class="btn-login btn btn-lg">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    end of favorite destinations modal #}
    {{ form_end(form) }}
    <div class="form-kyosc m-2 d-flex flex-column flex-md-row justify-content-center align-items-center">
        <div class="form-kyosc d-flex align-items-center justify-content-center m-4">
            <a href="{{ path('challenge_new') }}" class="btn-login btn btn-lg">Créer une aventure</a>
        </div>
        <div class="form-kyosc d-flex align-items-center justify-content-center m-4">
            <a href="{{ path('clan_new') }}" class="btn-login btn btn-lg">Créer un clan</a>
        </div>
    </div>
{#  Start of Invitations and requests variable setting (count) #}
    {% set isTherePendingInvitationsChallengeSent = false %}
    {% set isTherePendingInvitationsClanSent = false %}
    {% set pendingInvitationsChallengeCount = 0 %}
    {% set pendingInvitationsClanCount = 0 %}
    {% for invitation in user.invitationsSent %}
        {% if invitation.isAccepted == false and invitation.isRejected == false %}
            {% if invitation.challenge != null %}
                {% set isTherePendingInvitationsChallengeSent = true %}
                {% set pendingInvitationsChallengeCount = pendingInvitationsChallengeCount + 1 %}
            {% else %}
                {% set isTherePendingInvitationsClanSent = true %}
                {% set pendingInvitationsClanCount = pendingInvitationsClanCount + 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% set isTherePendingRequestsChallengeSent = false %}
    {% set isTherePendingRequestsClanSent = false %}
    {% set pendingRequestsChallengeCount = 0 %}
    {% set pendingRequestsClanCount = 0 %}
    {% for request in user.requestsSent %}
        {% if request.isAccepted == false and request.isRejected == false %}
            {% if request.challenge != null %}
                {% set isTherePendingRequestsChallengeSent = true %}
                {% set pendingRequestsChallengeCount = pendingRequestsChallengeCount + 1 %}
            {% else %}
                {% set isTherePendingRequestsClanSent = true %}
                {% set pendingRequestsClanCount = pendingRequestsClanCount + 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}
{#  End of Invitations and requests variable setting (count) #}
    <section class="w-75 m-auto form-kyosc transparent-background-dark">
        <h2 class="m-4">Tableau de bord</h2>
        <nav class="d-flex justify-content-center">
            <div class="nav nav-tabs d-flex flex-column flex-md-row justify-content-center" id="nav-tab" role="tablist">
                <button class="nav-link border-right border-top active" id="nav-challenges-tab" data-toggle="tab" data-target="#nav-challenges" type="button" role="tab" aria-controls="nav-challenges" aria-selected="true">Mes aventures créées - à venir ({{ comingChallenges|length }})</button>
                <button class="nav-link border-right border-top" id="nav-other-challenges-tab" data-toggle="tab" data-target="#nav-other-challenges" type="button" role="tab" aria-controls="nav-other-challenges" aria-selected="false">Mes autres aventures - à venir ({{ otherChallenges|length }})</button>
                <button class="nav-link border-right border-top" id="nav-past-challenges-tab" data-toggle="tab" data-target="#nav-past-challenges" type="button" role="tab" aria-controls="nav-past-challenges" aria-selected="false">Mes aventures créées - passées ({{ pastChallenges|length }})</button>
                <button class="nav-link border-right border-top" id="nav-past-other-challenges-tab" data-toggle="tab" data-target="#nav-past-other-challenges" type="button" role="tab" aria-controls="nav-past-other-challenges" aria-selected="false">Mes autres aventures - passées ({{ pastOtherChallenges|length }})</button>
                <button class="nav-link border-right border-top" id="nav-created-clans-tab" data-toggle="tab" data-target="#nav-created-clans" type="button" role="tab" aria-controls="nav-created-clans" aria-selected="false">Mes clans créés ({{ user.createdClans|length }})</button>
                <button class="nav-link border-right border-top" id="nav-member-clans-tab" data-toggle="tab" data-target="#nav-member-clans" type="button" role="tab" aria-controls="nav-member-clans" aria-selected="false">Mes autres clans ({{ user.clans|length - user.createdClans|length }})</button>
                <button class="nav-link border-right border-top" id="nav-pending-invitations-challenge-sent-tab" data-toggle="tab" data-target="#nav-pending-invitations-challenge-sent" type="button" role="tab" aria-controls="nav-pending-invitations-challenge-sent" aria-selected="false">Invitations en attente - aventures ({{ pendingInvitationsChallengeCount }})</button>
                <button class="nav-link border-right border-top" id="nav-pending-invitations-clan-sent-tab" data-toggle="tab" data-target="#nav-pending-invitations-clan-sent" type="button" role="tab" aria-controls="nav-pending-invitations-clan-sent" aria-selected="false">Invitations en attente - clans ({{ pendingInvitationsClanCount }})</button>
                <button class="nav-link border-right border-top" id="nav-pending-requests-challenge-sent-tab" data-toggle="tab" data-target="#nav-pending-requests-challenge-sent" type="button" role="tab" aria-controls="nav-pending-requests-challenge-sent" aria-selected="false">Demandes en attente - aventures ({{ pendingRequestsChallengeCount }})</button>
                <button class="nav-link border-right border-top" id="nav-pending-requests-clan-sent-tab" data-toggle="tab" data-target="#nav-pending-requests-clan-sent" type="button" role="tab" aria-controls="nav-pending-requests-clan-sent" aria-selected="false">Demandes en attente - clans ({{ pendingRequestsClanCount }})</button>
            </div>
        </nav>
{#        Start of tab-content #}
        <div class="tab-content" id="nav-tabContent">
{#            First tab coming challenges #}
            <div class="tab-pane fade show active" id="nav-challenges" role="tabpanel" aria-labelledby="nav-challenges-tab">
                <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center align-items-center scroll-comment p-4">
                    {% for challenge in comingChallenges %}
                        <div class="index-card-max-width card col-12 col-sm-6 col-md-4 col-xl-3 p-3 position-relative m-4">
                            <a class=" text-decoration-none text-dark h-100"  href="{{ path("challenge_show", {id: challenge.id}) }}">
                                <p class="title-date-card text-center bg-dark text-white m-0">{{ challenge.dateStart|format_datetime(pattern="dd MMMM Y",locale='fr')  }}</p>
                                <div class="position-relative" >
                                    {% if challenge.challengePhoto is not null %}
                                        <img src="{{ vich_uploader_asset(challenge, 'challengePhotoFile') | imagine_filter('challenge_thumb')  }}"
                                             alt="photo du challenge" class="w-100 challenge-photo-container">
                                    {% else %}
                                        <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                             alt="photo par défaut du challenge" class="w-100 challenge-photo-container">
                                    {% endif %}
                                    <div class="white-circle-img-goutte"></div>
                                    <img class="img-goutte-index" src="{{ asset('/uploads/goutte/'~challenge.sports['0'].goutte) }}" alt="logo goutte">
                                    {% if challenge.isPublic %}
                                        <span class="is-public-text open-text">Ouverte</span>
                                    {% else %}
                                        <span class="is-public-text close-text">Fermée</span>
                                    {% endif %}
                                    <div class="comment-counter p-2 position-absolute">
                                        <img class="delete-icon rounded" src="{{ asset('build/images/picto/comment.png') }}">
                                        <span class="transparent-background-dark p-1">{{ challenge.messages|length }}</span>
                                    </div>
                                    <div class="user-counter p-2 position-absolute">
                                        <img class="delete-icon rounded" src="{{ asset('build/images/picto/group.png') }}">
                                        <span class="transparent-background-dark p-1">{{ challenge.participants|length }}</span>
                                    </div>
                                </div>
                                <div class="card-body p-2">
                                    <h3 class="card-title h6 text-center text-uppercase">{{ challenge.title | capitalize }}</h3>
                                </div>
                            </a>
                            <div class="d-flex justify-content-around">
                                <a class="btn btn-register" href="{{ path('challenge_edit', {id: challenge.id})}}">Modifier</a>
                                {{ include('challenge/_delete_form.html.twig') }}
                            </div>
                        </div>
                    {% else %}
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="text-center text-white">Pas d'aventures à venir</p>
                            <div class="form-kyosc d-flex align-items-center justify-content-center m-4">
                                <a href="{{ path('challenge_new') }}" class="btn-login btn btn-lg">Créer une aventure</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
{#            Second tab other challenges #}
            <div class="tab-pane fade" id="nav-other-challenges" role="tabpanel" aria-labelledby="nav-other-challenges-tab">
                <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center align-items-center scroll-comment p-4">
                    {% for challenge in otherChallenges %}
                        <div class="index-card-max-width card col-12 col-sm-6 col-md-4 col-xl-3 p-3 position-relative m-4">
                            <a class=" text-decoration-none text-dark h-100"  href="{{ path("challenge_show", {id: challenge.id}) }}">
                                <p class="title-date-card text-center bg-dark text-white m-0">{{ challenge.dateStart|format_datetime(pattern="dd MMMM Y",locale='fr')  }}</p>
                                <div class="position-relative" >
                                    {% if challenge.challengePhoto is not null %}
                                        <img src="{{ vich_uploader_asset(challenge, 'challengePhotoFile') | imagine_filter('challenge_thumb')  }}"
                                             alt="photo du challenge" class="w-100 challenge-photo-container">
                                    {% else %}
                                        <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                             alt="photo par défaut du challenge" class="w-100 challenge-photo-container">
                                    {% endif %}
                                    <div class="white-circle-img-goutte"></div>
                                    <img class="img-goutte-index" src="{{ asset('/uploads/goutte/'~challenge.sports['0'].goutte) }}" alt="logo goutte">
                                    {% if challenge.isPublic %}
                                        <span class="is-public-text open-text">Ouverte</span>
                                    {% else %}
                                        <span class="is-public-text close-text">Fermée</span>
                                    {% endif %}
                                    <div class="comment-counter p-2 position-absolute">
                                        <img class="delete-icon rounded" src="{{ asset('build/images/picto/comment.png') }}">
                                        <span class="transparent-background-dark p-1">{{ challenge.messages|length }}</span>
                                    </div>
                                    <div class="user-counter p-2 position-absolute">
                                        <img class="delete-icon rounded" src="{{ asset('build/images/picto/group.png') }}">
                                        <span class="transparent-background-dark p-1">{{ challenge.participants|length }}</span>
                                    </div>
                                </div>
                                <div class="card-body p-2">
                                    <h3 class="card-title h6 text-center text-uppercase">{{ challenge.title | capitalize }}</h3>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <p class="text-center text-white">Pas d'autres aventures passées</p>
                    {% endfor %}
                </div>
            </div>
{#            Third tab past challenges #}
            <div class="tab-pane fade" id="nav-past-challenges" role="tabpanel" aria-labelledby="nav-past-challenges-tab">
                <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center align-items-center scroll-comment p-4">
                    {% for challenge in pastChallenges %}
                        <div class="index-card-max-width card col-12 col-sm-6 col-md-4 col-xl-3 p-3 position-relative m-4">
                            <a class=" text-decoration-none text-dark h-100"  href="{{ path("challenge_show", {id: challenge.id}) }}">
                                <p class="title-date-card text-center bg-dark text-white m-0">{{ challenge.dateStart|format_datetime(pattern="dd MMMM Y",locale='fr')  }}</p>
                                <div class="position-relative" >
                                    {% if challenge.challengePhoto is not null %}
                                        <img src="{{ vich_uploader_asset(challenge, 'challengePhotoFile') | imagine_filter('challenge_thumb')  }}"
                                             alt="photo du challenge" class="w-100 challenge-photo-container">
                                    {% else %}
                                        <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                             alt="photo par défaut du challenge" class="w-100 challenge-photo-container">
                                    {% endif %}
                                    <div class="white-circle-img-goutte"></div>
                                    <img class="img-goutte-index" src="{{ asset('/uploads/goutte/'~challenge.sports['0'].goutte) }}" alt="logo goutte">
                                    {% if challenge.isPublic %}
                                        <span class="is-public-text open-text">Ouverte</span>
                                    {% else %}
                                        <span class="is-public-text close-text">Fermée</span>
                                    {% endif %}
                                    <div class="comment-counter p-2 position-absolute">
                                        <img class="delete-icon rounded" src="{{ asset('build/images/picto/comment.png') }}">
                                        <span class="transparent-background-dark p-1">{{ challenge.messages|length }}</span>
                                    </div>
                                    <div class="user-counter p-2 position-absolute">
                                        <img class="delete-icon rounded" src="{{ asset('build/images/picto/group.png') }}">
                                        <span class="transparent-background-dark p-1">{{ challenge.participants|length }}</span>
                                    </div>
                                </div>
                                <div class="card-body p-2">
                                    <h3 class="card-title h6 text-center text-uppercase">{{ challenge.title | capitalize }}</h3>
                                </div>
                            </a>
                            <div class="d-flex justify-content-around">
                                <a class="btn btn-register" href="{{ path('challenge_edit', {id: challenge.id})}}">Modifier</a>
                                {{ include('challenge/_delete_form.html.twig') }}
                            </div>
                        </div>
                    {% else %}
                        <p class="text-center text-white">Pas d'aventures passées</p>
                    {% endfor %}
                </div>
            </div>
{#            Fourth tab past other challenges #}
            <div class="tab-pane fade" id="nav-past-other-challenges" role="tabpanel" aria-labelledby="nav-past-other-challenges-tab">
                <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center align-items-center scroll-comment p-4">
                    {% for challenge in pastOtherChallenges %}
                        <div class="index-card-max-width card col-12 col-sm-6 col-md-4 col-xl-3 p-3 position-relative m-4">
                            <a class=" text-decoration-none text-dark h-100"  href="{{ path("challenge_show", {id: challenge.id}) }}">
                                <p class="title-date-card text-center bg-dark text-white m-0">{{ challenge.dateStart|format_datetime(pattern="dd MMMM Y",locale='fr')  }}</p>
                                <div class="position-relative" >
                                    {% if challenge.challengePhoto is not null %}
                                        <img src="{{ vich_uploader_asset(challenge, 'challengePhotoFile') | imagine_filter('challenge_thumb')  }}"
                                             alt="photo du challenge" class="w-100 challenge-photo-container">
                                    {% else %}
                                        <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                             alt="photo par défaut du challenge" class="w-100 challenge-photo-container">
                                    {% endif %}
                                    <div class="white-circle-img-goutte"></div>
                                    <img class="img-goutte-index" src="{{ asset('/uploads/goutte/'~challenge.sports['0'].goutte) }}" alt="logo goutte">
                                    {% if challenge.isPublic %}
                                        <span class="is-public-text open-text">Ouverte</span>
                                    {% else %}
                                        <span class="is-public-text close-text">Fermée</span>
                                    {% endif %}
                                    <div class="comment-counter p-2 position-absolute">
                                        <img class="delete-icon rounded" src="{{ asset('build/images/picto/comment.png') }}">
                                        <span class="transparent-background-dark p-1">{{ challenge.messages|length }}</span>
                                    </div>
                                    <div class="user-counter p-2 position-absolute">
                                        <img class="delete-icon rounded" src="{{ asset('build/images/picto/group.png') }}">
                                        <span class="transparent-background-dark p-1">{{ challenge.participants|length }}</span>
                                    </div>
                                </div>
                                <div class="card-body p-2">
                                    <h3 class="card-title h6 text-center text-uppercase">{{ challenge.title | capitalize }}</h3>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <p class="text-center text-white">Pas d'autres aventures passées</p>
                    {% endfor %}
                </div>
            </div>
{#            Fifth tab created clans #}
            <div class="tab-pane fade" id="nav-created-clans" role="tabpanel" aria-labelledby="nav-created-clans-tab">
                <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center align-items-center scroll-comment p-4">
                    {% for clan in user.createdClans %}
                        <div class="card col-12 col-sm-6 col-md-4 col-xl-3 p-2 m-3 position-relative index-card-max-width">
                            <a class="card text-decoration-none text-dark no-bg-border"
                               href="{{ path("clan_show", {id: clan.id}) }}">
                                <div class="position-relative">
                                    {% if clan.banner is not null %}
                                        <img src="{{ vich_uploader_asset(clan, 'bannerFile') | imagine_filter('challenge_thumb') }}"
                                             alt="photo du clan" class="w-100 challenge-photo-container">
                                    {% else %}
                                        <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                             alt="photo par défaut du clan" class="w-100 challenge-photo-container">
                                    {% endif %}
                                    {% if clan.isPublic %}
                                        <span class="is-public-text open-text">Ouvert</span>
                                    {% else %}
                                        <span class="is-public-text close-text">Fermé</span>
                                    {% endif %}
                                    <div class="comment-counter p-2 position-absolute">
                                        <img class="delete-icon rounded" src="{{ asset('build/images/picto/comment.png') }}">
                                        <span class="transparent-background-dark p-1">{{ clan.messages|length }}</span>
                                    </div>
                                    <div class="user-counter p-2 position-absolute">
                                        <img class="delete-icon rounded" src="{{ asset('build/images/picto/group.png') }}">
                                        <span class="transparent-background-dark p-1">{{ clan.members|length }}</span>
                                    </div>
                                </div>
                            </a>
                            <div class="card-body p-2 text-center">
                                <h2 class="card-title text-center text-uppercase text-dark">{{ clan.name }}</h2>
                            </div>
                            <div class="d-flex justify-content-around">
                                <a class="btn btn-register m-1" href="{{ path('clan_edit', {id: clan.id})}}">Modifier</a>
                                {{ include('clan/_delete_form.html.twig') }}
                            </div>
                        </div>
                    {% else %}
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="text-center text-white">Vous n'avez pas encore créé de clan</p>
                            <div class="form-kyosc d-flex align-items-center justify-content-center m-4">
                                <a href="{{ path('clan_new') }}" class="btn-login btn btn-lg">Créer un clan</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
{#            Sixth tab member of clans #}
            <div class="tab-pane fade" id="nav-member-clans" role="tabpanel" aria-labelledby="nav-member-clans-tab">
                <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center align-items-center scroll-comment p-4">
                    {% for clan in user.clans %}
                        {% if user != clan.creator %}
                            <div class="card col-12 col-sm-6 col-md-4 col-xl-3 p-2 m-3 position-relative index-card-max-width">
                                <a class="card text-decoration-none text-dark no-bg-border"
                                   href="{{ path("clan_show", {id: clan.id}) }}">
                                    <div class="position-relative">
                                        {% if clan.banner is not null %}
                                            <img src="{{ vich_uploader_asset(clan, 'bannerFile') | imagine_filter('challenge_thumb') }}"
                                                 alt="photo du clan" class="w-100 challenge-photo-container">
                                        {% else %}
                                            <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                                 alt="photo par défaut du clan" class="w-100 challenge-photo-container">
                                        {% endif %}
                                        {% if clan.isPublic %}
                                            <span class="is-public-text open-text">Ouvert</span>
                                        {% else %}
                                            <span class="is-public-text close-text">Fermé</span>
                                        {% endif %}
                                        <div class="comment-counter p-2 position-absolute">
                                            <img class="delete-icon rounded" src="{{ asset('build/images/picto/comment.png') }}">
                                            {% set publicMessageCount = 0 %}
                                            {% for message in clan.messages %}
                                                {% if message.isPublic %}
                                                    {% set publicMessageCount = publicMessageCount + 1 %}
                                                {% endif %}
                                            {% endfor %}
                                            <span class="transparent-background-dark p-1">{{ publicMessageCount }}</span>
                                        </div>
                                        <div class="user-counter p-2 position-absolute">
                                            <img class="delete-icon rounded" src="{{ asset('build/images/picto/group.png') }}">
                                            <span class="transparent-background-dark p-1">{{ clan.members|length }}</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="card-body p-2 text-center">
                                    <h2 class="card-title text-center text-uppercase text-dark">{{ clan.name }}</h2>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="text-center text-white">Vous ne faites pas partie du clan d'un.e autre utilisateur.trice</p>
                            <div class="form-kyosc d-flex align-items-center justify-content-center m-4">
                                <a href="{{ path('clan_index') }}" class="btn-login btn btn-lg">Tous les clans</a>
                            </div>
                        </div>
                        <p></p>
                    {% endfor %}
                </div>
            </div>
{#            seventh tab pending invitations challenges #}
            <div class="tab-pane fade" id="nav-pending-invitations-challenge-sent" role="tabpanel" aria-labelledby="nav-pending-invitations-challenge-sent-tab">
                <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center align-items-center scroll-comment p-4">
                    {% if isTherePendingInvitationsChallengeSent %}
                        {% for invitation in user.invitationsSent %}
                            {% if invitation.isAccepted == false and invitation.isRejected == false and invitation.challenge != null %}
                                <div class="card col-12 col-sm-6 col-md-4 col-xl-3 p-2 m-3 index-card-max-width">
                                    <div class="text-dark text-center">
                                        <h3 class="h6 text-center">Le {{ invitation.createdAt|format_datetime(pattern="dd MMMM Y",locale='fr') }}</h3>
                                        <span class="pre-line">Invitation à rejoindre <span class="font-weight-bold">{{ invitation.clan ? 'le clan: ' : 'l\'aventure: ' }}</span>
                                            "{{ invitation.clan ? invitation.clan.name : invitation.challenge.title }}"
                                        </span>
                                        {% if invitation.invitedUSer is not null %}
                                            <div class="d-flex flex-column align-items-center">
                                                <a href="{{ path("profil_show", {id: invitation.invitedUSer.id}) }}">
                                                    {% if invitation.invitedUSer.profilPhoto is not null %}
                                                        <img class="participant-photo-challenge mb-2 avatar" src="{{ vich_uploader_asset(invitation.invitedUSer, 'profilPhotoFile')| imagine_filter('avatar_thumb') }}" alt="profilPhoto of challenge creator">
                                                    {% else %}
                                                        <img class="participant-photo-challenge mb-2 avatar" src="{{ asset('uploads/profils/default-profil-picture.png') }}" alt="default profil picture">
                                                    {% endif %}
                                                </a>
                                                <span class="font-weight-bold">{{ invitation.invitedUSer.pseudo ? : invitation.invitedUSer.firstname }}</span>
                                            </div>
                                        {% else %}
                                            <div class="d-flex flex-column align-items-center">
                                                <img class="participant-photo-challenge mb-2 avatar" src="{{ asset('uploads/profils/default-profil-picture.png') }}" alt="default profil picture">
                                                <span class="font-weight-bold">{{ invitation.recipient }}</span>
                                            </div>
                                        {% endif %}
                                        {% if invitation.isAccepted %}
                                            <div class="bg-kgreen p-2 m-2 rounded">Acceptée</div>
                                        {% elseif invitation.isRejected %}
                                            <div class="bg-kred p-2 m-2 rounded">Refusée</div>
                                        {% else %}
                                            <div class="bg-korange p-2 m-2 rounded">En attente</div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p class="text-center text-white">Pas d'invitations envoyées en attente pour des aventures</p>
                    {% endif %}
                </div>
            </div>
{#            eighth tab pending invitations clans #}
            <div class="tab-pane fade" id="nav-pending-invitations-clan-sent" role="tabpanel" aria-labelledby="nav-pending-invitations-clan-sent-tab">
                <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center align-items-center scroll-comment p-4">
                    {% if isTherePendingInvitationsClanSent %}
                        {% for invitation in user.invitationsSent %}
                            {% if invitation.isAccepted == false and invitation.isRejected == false and invitation.clan != null %}
                                <div class="card col-12 col-sm-6 col-md-4 col-xl-3 p-2 m-3 index-card-max-width">
                                    <div class="text-dark text-center">
                                        <h3 class="h6 text-center">Le {{ invitation.createdAt|format_datetime(pattern="dd MMMM Y",locale='fr') }}</h3>
                                        <span class="pre-line">Invitation à rejoindre <span class="font-weight-bold">{{ invitation.clan ? 'le clan: ' : 'l\'aventure: ' }}</span>
                                            "{{ invitation.clan ? invitation.clan.name : invitation.challenge.title }}"
                                        </span>
                                        {% if invitation.invitedUSer is not null %}
                                            <div class="d-flex flex-column align-items-center">
                                                <a href="{{ path("profil_show", {id: invitation.invitedUSer.id}) }}">
                                                    {% if invitation.invitedUSer.profilPhoto is not null %}
                                                        <img class="participant-photo-challenge mb-2 avatar" src="{{ vich_uploader_asset(invitation.invitedUSer, 'profilPhotoFile')| imagine_filter('avatar_thumb') }}" alt="profilPhoto of challenge creator">
                                                    {% else %}
                                                        <img class="participant-photo-challenge mb-2 avatar" src="{{ asset('uploads/profils/default-profil-picture.png') }}" alt="default profil picture">
                                                    {% endif %}
                                                </a>
                                                <span class="font-weight-bold">{{ invitation.invitedUSer.pseudo ? : invitation.invitedUSer.firstname }}</span>
                                            </div>
                                        {% else %}
                                            <div class="d-flex flex-column align-items-center">
                                                <img class="participant-photo-challenge mb-2 avatar" src="{{ asset('uploads/profils/default-profil-picture.png') }}" alt="default profil picture">
                                                <span class="font-weight-bold">{{ invitation.recipient }}</span>
                                            </div>
                                        {% endif %}
                                        {% if invitation.isAccepted %}
                                            <div class="bg-kgreen p-2 m-2 rounded">Acceptée</div>
                                        {% elseif invitation.isRejected %}
                                            <div class="bg-kred p-2 m-2 rounded">Refusée</div>
                                        {% else %}
                                            <div class="bg-korange p-2 m-2 rounded">En attente</div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p class="text-center text-white">Pas d'invitations envoyées en attente pour des clans</p>
                    {% endif %}
                </div>
            </div>
{#            nineth tab pending joinRequests challenges #}
            <div class="tab-pane fade" id="nav-pending-requests-challenge-sent" role="tabpanel" aria-labelledby="nav-pending-requests-challenge-sent-tab">
                <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center align-items-center scroll-comment p-4">
                    {% if isTherePendingRequestsChallengeSent %}
                        {% for request in user.requestsSent %}
                            {% if request.isAccepted == false and request.isRejected == false %}
                                <div class="card col-12 col-sm-6 col-md-4 col-xl-3 p-2 m-3 index-card-max-width">
                                    <div class="text-dark text-center">
                                        <h3 class="h6 text-center">Le {{ request.createdAt|format_datetime(pattern="dd MMMM Y",locale='fr') }}</h3>
                                        <span class="pre-line">Demande pour rejoindre <span class="font-weight-bold">{{ request.clan ? 'le clan: ' : 'l\'aventure: ' }}</span>
                                            "{{ request.clan ? request.clan.name : request.challenge.title }}"
                                        </span>
                                        {% if request.clan is not null %}
                                            <a class="card text-decoration-none text-dark no-bg-border"
                                               href="{{ path("clan_show", {id: request.clan.id}) }}">
                                                {% if request.clan.banner is not null %}
                                                    <img src="{{ vich_uploader_asset(request.clan, 'bannerFile') | imagine_filter('challenge_thumb') }}"
                                                         alt="photo du clan" class="w-100 challenge-photo-container">
                                                {% else %}
                                                    <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                                         alt="photo par défaut du clan" class="w-100 challenge-photo-container">
                                                {% endif %}
                                            </a>
                                        {% else %}
                                            <a class=" text-decoration-none text-dark h-100"
                                               href="{{ path("challenge_show", {id: request.challenge.id}) }}">
                                                {% if request.challenge.challengePhoto is not null %}
                                                    <img src="{{ vich_uploader_asset(request.challenge, 'challengePhotoFile') | imagine_filter('challenge_thumb')  }}"
                                                         alt="photo du challenge" class="w-100 challenge-photo-container">
                                                {% else %}
                                                    <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                                         alt="photo par défaut du challenge" class="w-100 challenge-photo-container">
                                                {% endif %}
                                            </a>
                                        {% endif %}
                                        {% if request.isAccepted %}
                                            <div class="bg-kgreen p-2 m-2 rounded">Acceptée</div>
                                        {% elseif request.isRejected %}
                                            <div class="bg-kred p-2 m-2 rounded">Refusée</div>
                                        {% else %}
                                            <div class="bg-korange p-2 m-2 rounded">En attente</div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p class="text-center text-white">Pas de demandes envoyées en attente pour des aventures</p>
                    {% endif %}
                </div>
            </div>
{#            tenth tab pending joinRequests clan #}
            <div class="tab-pane fade" id="nav-pending-requests-clan-sent" role="tabpanel" aria-labelledby="nav-pending-requests-clan-sent-tab">
                <div class="d-flex flex-column flex-md-row flex-wrap justify-content-center align-items-center scroll-comment p-4">
                    {% if isTherePendingRequestsChallengeSent %}
                        {% for request in user.requestsSent %}
                            <div class="card col-12 col-sm-6 col-md-4 col-xl-3 p-2 m-3 index-card-max-width">
                                <div class="text-dark text-center">
                                    <h3 class="h6 text-center">Le {{ request.createdAt|format_datetime(pattern="dd MMMM Y",locale='fr') }}</h3>
                                    <span class="pre-line">Demande pour rejoindre <span class="font-weight-bold">{{ request.clan ? 'le clan: ' : 'l\'aventure: ' }}</span>
                                        "{{ request.clan ? request.clan.name : request.challenge.title }}"
                                    </span>
                                    {% if request.clan is not null %}
                                        <a class="card text-decoration-none text-dark no-bg-border"
                                           href="{{ path("clan_show", {id: request.clan.id}) }}">
                                            {% if request.clan.banner is not null %}
                                                <img src="{{ vich_uploader_asset(request.clan, 'bannerFile') | imagine_filter('challenge_thumb') }}"
                                                     alt="photo du clan" class="w-100 challenge-photo-container">
                                            {% else %}
                                                <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                                     alt="photo par défaut du clan" class="w-100 challenge-photo-container">
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <a class=" text-decoration-none text-dark h-100"
                                           href="{{ path("challenge_show", {id: request.challenge.id}) }}">
                                            {% if request.challenge.challengePhoto is not null %}
                                                <img src="{{ vich_uploader_asset(request.challenge, 'challengePhotoFile') | imagine_filter('challenge_thumb')  }}"
                                                     alt="photo du challenge" class="w-100 challenge-photo-container">
                                            {% else %}
                                                <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                                     alt="photo par défaut du challenge" class="w-100 challenge-photo-container">
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                    {% if request.isAccepted %}
                                        <div class="bg-kgreen p-2 m-2 rounded">Acceptée</div>
                                    {% elseif request.isRejected %}
                                        <div class="bg-kred p-2 m-2 rounded">Refusée</div>
                                    {% else %}
                                        <div class="bg-korange p-2 m-2 rounded">En attente</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="text-center text-white">Pas de demandes envoyées en attente pour des clans</p>
                    {% endif %}
                </div>
            </div>
        </div>
{#        End of tab-content #}
    </section>
    <div class="mt-5 pb-5 d-flex flex-column align-items-center form-kyosc">
        {% include('user/_delete_form.html.twig') %}
    </div>
{% endblock body %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(function(){
            $('.select-favoriteBrands').select2();
        });
    </script>
    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
    </script>
    {{ encore_entry_script_tags('checkbox') }}
    <script>
        const output = document.getElementById('output');
        function loadFile() {
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src);
            };
        }
    </script>
{% endblock %}
