{% extends 'homeBase.html.twig' %}

{% block title %}KYOSC{% endblock %}

{% block body %}
    <div class="home-menu">
        <img src="{{ asset( defaultLogo ) }}" alt="kyosc white logo" class="home-logo">
        <h1 class="text-uppercase">À vous de créer <br><span class="second-color-title">votre propre aventure sportive</span></h1>
        <div class="d-flex flex-column align-items-center home-button-wrapper">
            {% if app.user %}
                <div class="d-flex home-profil-button">
                    <a class="home-button dark-button" href="{{ path("profil_my_profil") }}">Mon Espace</a>
                    <a class="home-button dark-button d-flex align-items-center justify-content-center" href="{{ path("app_logout") }}">Déconnexion</a>
                </div>
            {% else %}
                <a href="{{ path('app_login') }}" class="home-button dark-button">Se connecter</a>
            {% endif %}
            <a href="{{ path('challenge_new') }}" class="home-button light-button text-uppercase">Créer mon challenge</a>
        </div>
    </div>
    <div class="main-carousel-home-page">
        {{ include('component/_home_main_carousel.html.twig') }}
    </div>
    <section class="home-banner" style="background: url('{{ asset('build/images/background/bgimg1.jpeg') }}') no-repeat center; background-size: cover;">
        <p class="hide-before-scroll show-on-scroll">En recherche de défis sportifs pour vous ou votre groupe d'amis ?
            <br>KYOSC est la plateforme qu'il vous faut pour vous challenger dans une ambiance conviviale !
            <br>Alors n'attendez plus, et lancez vous dans l'aventure !
        </p>
    </section>
    <section class="home-choice-container">
        <div class="home-choice hide-before-scroll show-on-scroll">
            <h2>Connaitre KYOSC</h2>
            <img src="{{ asset('build/images/picto/ketoile.png') }}" class="home-choice-picto">
            <a>En savoir plus</a>
            <img src="{{ asset('build/images/fleche/fhnoir.png') }}" class="up-arrow-choice">
        </div>
        <div class="home-choice hide-before-scroll show-on-scroll">
            <h2>Parcourir KYOSC</h2>
            <img src="{{ asset('build/images/picto/komplice.png') }}" class="home-choice-picto">
            <a>En savoir plus</a>
            <img src="{{ asset('build/images/fleche/fhnoir.png') }}" class="up-arrow-choice">
        </div>
        <div class="home-choice hide-before-scroll show-on-scroll">
            <h2>Créer un challenge</h2>
            <img src="{{ asset('build/images/picto/kequipe.png') }}" class="home-choice-picto">
            <a>En savoir plus</a>
            <img src="{{ asset('build/images/fleche/fhnoir.png') }}" class="up-arrow-choice">
        </div>
        <div class="home-choice hide-before-scroll show-on-scroll">
            <h2>Gagner de l'experience</h2>
            <img src="{{ asset('build/images/picto/kblason.png') }}" class="home-choice-picto">
            <a>En savoir plus</a>
            <img src="{{ asset('build/images/fleche/fhnoir.png') }}" class="up-arrow-choice">
        </div>
    </section>
    <section class="home-section home-challenges align-items-center hide-before-scroll show-on-scroll">
        {% if topChallenge %}
        <div class="homeTopSelection home-cartouche">
            <figure>
                <a class="card text-decoration-none text-dark h-100 no-bg-border"
                   href="{{ path("challenge_show", {id: topChallenge.id}) }}">
                    <p class="title-date-card text-center bg-dark text-white m-0">{{ topChallenge.dateStart |format_datetime(pattern="dd MMMM Y",locale='fr') }}</p>
                    <div class="position-relative">
                        {% if topChallenge.challengePhoto is not null %}
                            <img src="{{ vich_uploader_asset(topChallenge, 'challengePhotoFile') | imagine_filter('challenge_thumb') }}" alt="photo du challenge" class="w-100">
                        {% else %}
                            <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}" alt="photo par défaut du challenge" class="w-100">
                        {% endif %}
                    </div>
                    <div class="card-body home-challenge p-2">
                        <h5 class="card-title text-center text-uppercase">{{ topChallenge.title }}</h5>
                        <p class="card-text text-center">"{{ topChallenge.quotation }}"</p>
                    </div>
                </a>
                <figcaption class="home-figcaption text-selection">À LA UNE</figcaption>
            </figure>
        </div>
        {% endif %}
        {% if featuredChallenges %}
        <div class="homeSelection home-cartouche hide-before-scroll show-on-scroll">
            <figure>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                    {% for challenge in featuredChallenges %}
                        <div class="col-12 col-sm-6 p-3 position-relative">
                            <a class="card text-decoration-none text-dark h-100 no-bg-border"
                               href="{{ path("challenge_show", {id: challenge.id}) }}">
                                <div class="position-relative">
                                    {% if challenge.challengePhoto is not null %}
                                        <img src="{{ vich_uploader_asset(challenge, 'challengePhotoFile') | imagine_filter('challenge_thumb') }}" alt="photo du challenge" class="w-100">
                                    {% else %}
                                        <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}" alt="photo par défaut du challenge" class="w-100">
                                    {% endif %}
                                </div>
                                <div class="card-body p-1">
                                    <h5 class="card-title text-center">{{ challenge.dateStart |format_datetime(pattern="dd MMMM Y",locale='fr') }} :<br> {{ challenge.title }}</h5>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <figcaption class="home-figcaption text-selection">NOTRE SELECTION</figcaption>
            </figure>
        </div>
        {% endif %}
        <div class="all-projects home-cartouche show-on-scroll hide-before-scroll">
            <span id="all-projects">TOUS LES CHALLENGES</span>
            <a href="{{ path("challenge_index") }}"><img class="home-multi-universes" src="{{ asset('build/images/logo/universKyosc.png') }}"></a>
            <a href="{{ path("challenge_index") }}" class="button-discover btn-lg">Je découvre</a>
        </div>
    </section>
    <section class="home-section testimonials hide-before-scroll show-on-scroll">
        <h6 class="text-uppercase d-flex justify-content-center align-items-center">
            <img class="w-25 mx-4" src="{{ asset('build/images/picto/kampagne.png') }}">
            Témoignages
            <img class="w-25 mx-4" src="{{ asset('build/images/picto/kaquatique.png') }}">
        </h6>
        <div class="d-flex flex-column align-items-center">
            {% for user in usersTestimonials %}
                <a href="{{ path("profil_show", {id: user.id}) }}" class="w-25 text-center">
                {% if user.profilPhoto is not null%}
                    <img src="{{ vich_uploader_asset(user, 'profilPhotoFile') }}" alt="{{ user.profilPhoto }}" class="avatar-testimony">
                {% else %}
                    <img src="{{ asset('uploads/profils/default-profil-picture.png') }}" alt="default profil picture " class="avatar-testimony">
                {% endif %}
                </a>
                <p class="testimonial">
                    <strong>
                        {% if user.pseudo is not null %}
                            {{ user.pseudo }}
                        {% else %}
                            {{ user.firstName }}
                        {% endif %}
                    </strong>: {{ user.testimony }}
                </p>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('Carousel') }}
    {{ encore_entry_script_tags('instantiate_carousels') }}
    {{ encore_entry_script_tags('home_main_carousel') }}
{% endblock %}
