{% extends 'homeBase.html.twig' %}

{% block title %}KYOSC{% endblock %}

{% block body %}
    <div class="home-menu d-flex justify-content-between align-items-center">
        <ul class="sidenav">
            {% if app.user %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path("admin") }}">Espace administrateur</a>
                {% endif %}
            {% endif %}
            <li> <a href="{{ path("home") }}">Accueil</a> </li>
            <li> <a href="{{ path("challenge_index") }}">Les aventures</a> </li>
            <li> <a href="{{ path("clan_index") }}">Les clans</a> </li>
            {% if app.user %}
                <li> <a href="{{ path("profil_my_profil") }}">Mon espace</a> </li>
                <li> <a href="{{ path("challenge_new") }}">Nouvelle aventure</a> </li>
                <li> <a href="{{ path("clan_new") }}">Nouveau clan</a> </li>
                <li> <a href="{{ path("app_logout") }}">Déconnexion</a> </li>
            {% else %}
                <li> <a href="{{ path("app_login") }}">Se connecter</a> </li>
            {% endif %}
        </ul>
        <button class="navbar-toggler home-logo" type="button">
            <img src="{{ asset( defaultLogo ) }}" alt="kyosc white logo" class="home-logo">
        </button>
        <h1 class="text-uppercase">À vous de créer <br><span class="second-color-title">votre propre aventure sportive</span></h1>
        <div class="d-flex flex-column align-items-center home-button-wrapper">
            {% if app.user %}
                <div class="d-flex home-profil-button">
                    <a class="home-button dark-button" href="{{ path("profil_my_profil") }}">Mon Espace</a>
                    <a class="home-button dark-button d-flex align-items-center justify-content-center" href="{{ path("app_logout") }}">Déconnexion</a>
                </div>
            {% else %}
                <a href="{{ path('app_login') }}" class="home-button dark-button">Se connecter</a>
            {% endif %}
            <a href="{{ path('challenge_new') }}" class="home-button light-button text-uppercase">Créez vos aventures</a>
        </div>
    </div>
    <div class="main-carousel-home-page">
        {{ include('component/_home_main_carousel.html.twig') }}
    </div>
    <section class="home-banner" style="background: url('{{ asset('build/images/background/bgimg1.jpeg') }}') no-repeat center; background-size: cover;">
        <h2 class="hide-before-scroll show-on-scroll text-korange transparent-background-round-darker p-4">
            En recherche d’activités de plein air, faites pour vous, vos amis ou vos clans ?<br>
            KYOSC est la plateforme pour organiser et partager des moments forts dans une ambiance conviviale.<br>
            Alors n’attendez plus et lancez-vous dans votre propre aventure !
        </h2>
    </section>
    <section class="home-choice-container">
        <div class="home-choice hide-before-scroll show-on-scroll d-flex align-baseline">
            <img src="{{ asset('build/images/picto/komplice.png') }}" class="home-choice-picto mb-3">
            <h2 class="text-kblue">Retrouvez facilement les informations <br> essentielles des aventures <br> créées avec vos clans</h2>
            <img src="{{ asset('build/images/fleche/fhnoir.png') }}" class="up-arrow-choice">
        </div>
        <div class="home-choice hide-before-scroll show-on-scroll">
            <img src="{{ asset('build/images/picto/kequipe.png') }}" class="home-choice-picto mb-3">
            <h2 class="text-kgreen">Echangez et partagez avec vos clans <br> autour de vos aventures</h2>
            <img src="{{ asset('build/images/fleche/fhnoir.png') }}" class="up-arrow-choice">
        </div>
        <div class="home-choice hide-before-scroll show-on-scroll">
            <img src="{{ asset('build/images/picto/kblason.png') }}" class="home-choice-picto mb-3">
            <h2 class="text-kred">Venez cumuler des points<br> et remporter des challenges</h2>
            <img src="{{ asset('build/images/fleche/fhnoir.png') }}" class="up-arrow-choice">
        </div>
    </section>
    <!-- section challenges -->
    <section class="row mx-0">
        {% for challenge in featuredChallenges %}
            <a class="col-6 col-md-3 text-decoration-none home-square-box d-flex flex-column
                {% if challenge.id and challenge.id matches '/^([^0-9]*)$/' %}
                    justify-content-center
                {% else %}
                    justify-content-end
                {% endif %}
                align-items-center p-1 hide-before-scroll show-on-scroll"
            {% if challenge.id and challenge.id matches '/^([^0-9]*)$/' %}
                {% if challenge.id is same as('allChallenges') %}
                    href="{{ path("challenge_index") }}"
                {% else %}
                    href="{{ path('challenge_new') }}"
                {% endif %}
                style="background-color: #111"
            {% elseif challenge.id %}
                href="{{ path("challenge_show", {id: challenge.id}) }}"
                    {% if challenge.challengePhoto is not null %}
                        style="background: url('{{ vich_uploader_asset(challenge, 'challengePhotoFile') }}') no-repeat center; background-size: cover;"
                    {% else %}
                        style="background: url('{{ asset('uploads/challenge/challenge-default.jpeg') }}') no-repeat center; background-size: cover;"
                    {% endif %}
            {% else %}
                style="background: url('{{ asset(challenge.challengePhoto) }}') no-repeat center; background-size: cover; opacity: 0.4;"
            {% endif %}
            >
                {% if challenge.id and challenge.id matches '/^([^0-9]*)$/' %}
                    {% if challenge.id is same as('allChallenges') %}
                    <h2 class="text-uppercase text-white font-weight-bold mb-0 home-all-links">Toutes les<br>
                        aventures !</h2>
                    {% else %}
                    <div class="form-kyosc d-flex align-items-center justify-content-center">
                        <div class="btn-login btn btn-lg home-new-links">Créer une aventure</div>
                    </div>
                    {% endif %}
                {% else %}
                    <div class="text-white transparent-background-dark h6
                        {% if challenge.id and challenge.id matches '/^\\d+$/' %}
                            p-3
                        {% endif %}">
                        <span>
                        {% if challenge.id and challenge.id matches '/^\\d+$/' %}
                            {{ challenge.dateStart |format_datetime(pattern="dd MMMM Y",locale='fr') }} :<br> {{ challenge.title }}
                        {% elseif not challenge.id %}
                            {{ challenge.title }}
                        {% endif %}
                        </span>
                    </div>
                {% endif %}
            </a>
        {% endfor %}
    </section>
    <!-- section clans -->
    <section class="row mx-0">
        {% for clan in clans %}
            <a class="col-6 col-md-3 text-decoration-none home-square-box d-flex flex-column
                {% if clan.id and clan.id matches '/^([^0-9]*)$/' %}
                    justify-content-center
                {% else %}
                    justify-content-end
                {% endif %}
                align-items-center p-1 hide-before-scroll show-on-scroll"
                    {% if clan.id and clan.id matches '/^([^0-9]*)$/' %}
                        {% if clan.id is same as('allClans') %}
                            href="{{ path("clan_index") }}"
                        {% else %}
                            href="{{ path('clan_new') }}"
                        {% endif %}
                        style="background-color: #111"
                    {% elseif clan.id %}
                        href="{{ path("clan_show", {id: clan.id}) }}"
                        {% if clan.banner is not null %}
                            style="background: url('{{ vich_uploader_asset(clan, 'bannerFile') }}') no-repeat center; background-size: cover;"
                        {% else %}
                            style="background: url('{{ asset('uploads/challenge/challenge-default.jpeg') }}') no-repeat center; background-size: cover;"
                        {% endif %}
                    {% else %}
                        style="background: url('{{ asset(clan.banner) }}') no-repeat center; background-size: cover; opacity: 0.4;"
                    {% endif %}
            >
                {% if clan.id and clan.id matches '/^([^0-9]*)$/' %}
                    {% if clan.id is same as('allClans') %}
                        <h2 class="text-uppercase text-white font-weight-bold mb-0 home-all-links">Tous les<br>
                            clans !</h2>
                    {% else %}
                        <div class="form-kyosc d-flex align-items-center justify-content-center">
                            <div class="btn-login btn btn-lg home-new-links">Créer un clan</div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="text-white transparent-background-dark h6
                        {% if clan.id and clan.id matches '/^\\d+$/' %}
                            p-3
                        {% endif %}">
                        <span>
                        {% if clan.id and clan.id matches '/^\\d+$/' %}
                            {{ clan.name }}
                        {% elseif not clan.id %}
                            {{ clan.name }}
                        {% endif %}
                        </span>
                    </div>
                {% endif %}
            </a>
        {% endfor %}
    </section>
    <!-- section testimonies -->
    <section class="m-5 home-section testimonials transparent-background-dark hide-before-scroll show-on-scroll">
        <h6 class="text-uppercase d-flex justify-content-center align-items-center">
            <img class="w-25 mx-4" src="{{ asset('build/images/picto/kampagne.png') }}">
            Témoignages
            <img class="w-25 mx-4" src="{{ asset('build/images/picto/kaquatique.png') }}">
        </h6>
        <div class="d-flex flex-column align-items-center">
            {% for user in usersTestimonials %}
                <a href="{{ path("profil_show", {id: user.id}) }}" class="w-25 text-center">
                {% if user.profilPhoto is not null%}
                    <img src="{{ vich_uploader_asset(user, 'profilPhotoFile') | imagine_filter('avatar_thumb') }}" alt="{{ user.profilPhoto }}" class="avatar-testimony">
                {% else %}
                    <img src="{{ asset('uploads/profils/default-profil-picture.png') }}" alt="default profil picture " class="avatar-testimony">
                {% endif %}
                </a>
                <p class="testimonial">
                    <strong>
                        {% if user.pseudo is not null %}
                            {{ user.pseudo }}
                        {% else %}
                            {{ user.firstName }}
                        {% endif %}
                    </strong>: {{ user.testimony }}
                </p>
            {% endfor %}
        </div>
    </section>
    <div class="nav-menu-overlay"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('Carousel') }}
    {{ encore_entry_script_tags('instantiate_carousels') }}
    {{ encore_entry_script_tags('home_main_carousel') }}
{% endblock %}
