<nav class="navbar navbar-default navbar-dark bg-dark">
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    {{ include('component/_burger-content.html.twig') }}
    {% if app.user  %}
        <a href="{{ path("profil_my_profil") }}" class="w-25 text-center">
            {% if app.user.profilPhoto is not null%}
                <img src="{{ vich_uploader_asset(app.user, 'profilPhotoFile') | imagine_filter('avatar_thumb') }}" alt="{{ app.user.profilPhoto }}" class="avatar-testimony">
            {% else %}
                <span class="text-white text-wrap"> Bonjour {{ app.user.pseudo? app.user.pseudo : app.user.firstname ~' '~ app.user.lastname}}</span>
            {% endif %}
        </a>
    {% endif %}
    <a class="navbar-brand" href="{{ path("home") }}">
        <img src="{{ asset(defaultLogo) }}" alt="Logo KYOSC" class="logo">
    </a>
</nav>
<div class="nav-menu-overlay"></div>
