<div class="d-flex flex-column transparent-background-round-darker text-white align-items-center request-popup p-4" id="request-popup">
    <h2 class="text-white text-center">Demandes en attente:</h2>
    {% for request in app.user.requestsReceived %}
        {% if not request.isAccepted and not request.isRejected %}
            <div class="d-flex flex-column justify-content-around mt-3">
                <h3 class="h6 mb-2">{{ request.creator.firstName }} demande à rejoindre
                    {% if request.clan %}
                        le clan "{{ request.clan.name }}"
                    {% else %}
                        l'aventure "{{ request.challenge.title }}"
                    {% endif %}
                </h3>
                <div class="d-flex justify-content-around align-items-center w-100 mt-2">
                    {% if request.clan %}
                        <div class="align-middle align-self-center mb-2 form-kyosc">
                            <a class="text-white btn bg-kblue mx-2" href="{{path('clan_show', {id: request.clan.id})}}">Voir le clan</a>
                        </div>
                        <form class="align-middle align-self-center mb-2 form-kyosc" method="post" action="{{ path('clan_join', {id: request.clan.id}) }}">
                            <input type="hidden" name="clanId" value="{{ request.clan.id }}">
                            <input type="hidden" name="token" value="{{ csrf_token('clan-join') }}"/>
                            <button class="text-white btn bg-kgreen mx-2">Accepter</button>
                        </form>
                        <form class="align-middle align-self-center mb-2 form-kyosc" method="post" action="{{path('clan_decline', {id: request.clan.id})}}">
                            <button class="text-white btn bg-kred mx-2">Refuser</button>
                        </form>
                    {% else %}
                        <div class="align-middle align-self-center mb-2 form-kyosc">
                            <a class="text-white btn bg-kblue mx-2" href="{{path('challenge_show', {id: request.challenge.id})}}">Voir l'aventure</a>
                        </div>
                        <form class="align-middle align-self-center mb-2 form-kyosc" method="post" action="{{ path('challenge_join', {id: request.challenge.id}) }}">
                            <input type="hidden" name="challengeId" value="{{ request.challenge.id }}">
                            <input type="hidden" name="token" value="{{ csrf_token('challenge-join') }}"/>
                            <button class="text-white btn bg-kgreen mx-2">Accepter</button>
                        </form>
                        <form class="align-middle align-self-center mb-2 form-kyosc" method="post" action="{{path('challenge_decline', {id: request.challenge.id})}}">
                            <button class="text-white btn bg-kred mx-2">Refuser</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <img src="{{ asset('build/images/picto/close.png') }}" class="close-picto m-2" id="close-cross-request" alt="white closing cross">
</div>
