<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
        <title>{% block title %}Bienvenue chez KYOSC!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="En recherche d’activités de plein air, faites pour vous, vos amis ou vos clans ?
            KYOSC est la plateforme pour organiser et partager des moments forts dans une ambiance conviviale.">
        {% block meta %}{% endblock %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body {% block background %}{% endblock %}>
{#  Uncomment the tree lines of code below to enable a popup message whose purpose is to warn the user if his mail isn't verified yet #}
{#        {% if app.user and not app.user.isVerified %}#}
{#            {{ include('component/_email-verified.html.twig') }}#}
{#        {% endif %}#}
        {% if app.user and app.user.invitationsReceived is not empty %}
            {% set isInvitationPopup = false %}
            {% for invitation in app.user.invitationsReceived %}
                {% if not invitation.isAccepted and not invitation.isRejected %}
                    {% set isInvitationPopup = true %}
                {% endif %}
            {% endfor %}
            {% if isInvitationPopup %}
                {{ include('component/_invitations.html.twig') }}
            {% endif %}
        {% endif %}
        {% if app.user and app.user.requestsReceived is not empty %}
            {% set isRequestPopup = false %}
            {% for request in app.user.requestsReceived %}
                {% if not request.isAccepted and not request.isRejected %}
                    {% set isRequestPopup = true %}
                {% endif %}
            {% endfor %}
            {% if isRequestPopup %}
                {{ include('component/_join-requests.html.twig') }}
            {% endif %}
        {% endif %}
        {{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set', { 'locale' : 'fr' })) }}
        {% if sport is not defined and (challenge is defined) %}
            {% set sportLogo = asset('build/images/logo/kyoscnoir.png') %}
            {% set sportColor = 'black' %}
        {% elseif sport is defined and sport %}
            {% set sportLogo = "/uploads/logo/"~sport.logo  %}
            {% set sportColor = sport.color  %}
        {% elseif category is defined and category %}
            {% set sportLogo = "/uploads/logo/"~category.logo  %}
            {% set sportColor = category.color  %}
        {% else %}
            {% set sportLogo = asset('build/images/logo/kyoscnoir.png')  %}
            {% set sportColor = 'black' %}
        {% endif %}
        <div class="arrow-background w-100"></div>
        {{ include('component/_header.html.twig') }}
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        {{ include('component/_footer.html.twig') }}
        {{ encore_entry_script_tags('cookies') }}
        {{ encore_entry_script_tags('cookie_consent') }}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
