<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}" />
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="En recherche d’activités de plein air, faites pour vous, vos amis ou vos clans ?
            KYOSC est la plateforme pour organiser et partager des moments forts dans une ambiance conviviale.">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>

    <body class="home-body">
        {% if app.user and not app.user.isVerified %}
            {{ include('component/_email-verified.html.twig') }}
        {% endif %}
        {{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set', { 'locale' : 'fr' })) }}
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }} email-flash-popup">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        <div class="arrow-background" style="top: 150%"></div>
        {{ include('component/_footer.html.twig') }}
        {{ encore_entry_script_tags('cookies') }}
        {{ encore_entry_script_tags('cookie_consent') }}
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
