{% extends 'base.html.twig' %}

{% block title %}
    {% if sport %}
        {{ sport.name | capitalize }} aventures
    {% else %}
        Toutes les aventures
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <!-- begin Datepicker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <!-- end Datepicker -->
    {{ encore_entry_link_tags('filter') }}
{% endblock %}

{% block body %}
    {% include 'challenge/_filterChallenge.html.twig' %}
    {% if sportColor and sport %}
        <header class="index-header d-flex align-items-center text-center text-uppercase mt-5 mb-5" style="background: {{ sportColor }};">
            <img src="{{ sportLogo }}" alt="Logo KYOSC" class="logo-challenge">
            <h1 class="ml-1 challenge-index-title">
                les aventures
                <span class="text-white">"{{ sport.name }}"</span>
            </h1>
        </header>
    {% else %}
        <header {% if sportColor %} class="index-header d-flex align-items-center text-uppercase mt-3 mb-5" style="background: {{ sportColor }};"
                {% else %} class="d-flex align-items-center text-uppercase mt-3 mb-5 bg-dark text-white"
                {% endif %}>
            <img src="{{ sportLogo }}" alt="Logo KYOSC" class="logo-challenge">
            <h1 class="ml-1 challenge-index-title text-white">Toutes les aventures
                {% if category %}
                    "{{ category.name }}"
                {% endif %}
            </h1>
        </header>
    {% endif %}

    <main class="container-fluid">
        <div class="form-kyosc d-flex align-items-center justify-content-center mb-5">
            <a href="{{ path('challenge_new') }}" class="btn-login btn btn-lg">Créer une aventure</a>
        </div>
        <div class="row justify-content-center">
            {% for challenge in pagination %}
                {% set multiSportGoutte = "build/images/goutte/kmulti.png" %}
                {% set sportGoutte = challenge.sports|length>1 ? multiSportGoutte : challenge.sports|length==1 ? "/uploads/goutte/"~challenge.sports['0'].goutte : defaultLogo %}
                <div class="m-3 col-12 col-sm-6 col-md-4 col-xl-3 p-3 position-relative index-card-max-width">
                    <a class="card text-decoration-none text-dark h-100 no-bg-border"
                       href="{{ path("challenge_show", {id: challenge.id}) }}">
                        <p class="title-date-card text-center bg-dark text-white m-0">{{ challenge.dateStart |format_datetime(pattern="dd MMMM Y",locale='fr') }}</p>
                        <div class="position-relative">
                            {% if challenge.challengePhoto is not null %}
                                <img src="{{ vich_uploader_asset(challenge, 'challengePhotoFile') | imagine_filter('challenge_thumb') }}"
                                     alt="photo du challenge" class="w-100 challenge-photo-container">
                            {% else %}
                                <img src="{{ asset('uploads/challenge/challenge-default.jpeg') }}"
                                     alt="photo par défaut du challenge" class="w-100 challenge-photo-container">
                            {% endif %}
                            <div class="white-circle-img-goutte"></div>
                            <img class="img-goutte-index" src={{ asset(sportGoutte) }}>
                            {% if challenge.isPublic %}
                                <span class="is-public-text open-text">Ouverte</span>
                            {% else %}
                                <span class="is-public-text close-text">Fermée</span>
                            {% endif %}
                            <div class="comment-counter p-2 position-absolute">
                                <img class="delete-icon rounded" src="{{ asset('build/images/picto/comment.png') }}">
                                <span class="transparent-background-dark p-1">{{ challenge.messages|length }}</span>
                            </div>
                            <div class="user-counter p-2 position-absolute">
                                <img class="delete-icon rounded" src="{{ asset('build/images/picto/group.png') }}">
                                <span class="transparent-background-dark p-1">{{ challenge.participants|length }}</span>
                            </div>
                        </div>
                        <div class="card-body p-2">
                            <h3 class="card-title h6 text-center text-uppercase">{{ challenge.title }}</h3>
                            {% if challenge.quotation %}
                                <p class="card-text">"{{ challenge.quotation }}"</p>
                            {% elseif challenge.isPublic %}
                                <p class="card-text">N'hésitez pas à rejoindre cette aventure !</p>
                            {% else %}
                                <p class="card-text">Désolé, vous ne pouvez pas demander à rejoindre cette aventure</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% else %}
                <p>Il n'existe pas d'aventure actuellement.</p>
            {% endfor %}
        </div>
        {{ knp_pagination_render(pagination) }}
    </main>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    {{ encore_entry_script_tags('filter') }}
{% endblock %}
