{% extends 'base.html.twig' %}

{% block title %}Aventure #{{ challenge.id }}{% endblock %}

{% block background %}
    class="background-profile" style="background:
    {% if challenge.challengePhoto is not null %}
        url('{{ vich_uploader_asset(challenge, 'challengePhotoFile')}}')
    {% else %}
        url('{{ asset('build/images/background/bgimg' ~ random(1, 11) ~ '.jpeg') }}')
    {% endif %} no-repeat fixed center; background-size: cover;"
{% endblock %}

{% block body %}
    {% set color = challenge.sports[0].color %}

    <header class="arrow-header my-3 text-uppercase" style="background-color: {{color}};">
        <h1>{{ challenge.title }} #{{ challenge.id }}</h1>
        <p class="m-0 text-white">{{ challenge.dateStart |format_datetime(pattern="dd MMMM Y",locale='fr') }}</p>
    </header>
    <section class="container px-5 my-2 my-md-5">
        <div class="row justify-content-center justify-content-md-around">
            <div class="col-lg-6 transparent-background-dark p-3">
                <h3 class="challenge-quotation mb-4">{{ challenge.quotation }}</h3>
                <p class="challenge-description">{{ challenge.description }}</p>
            </div>
        </div>
    </section>

    <div class="mt-2 mb-4 container d-flex justify-content-center">
        <div class="col-10 title-info-event transparent-background-dark p-3">
            <h3>Informations sur l'évènement:</h3>
            <p>{{ challenge.information}}</p>
        </div>
    </div>

    <section class="container d-flex flex-row">
        <div class="container arrow-container col-lg-8 col-sm-12">
            <h2 class="text-center transparent-background-dark p-3" style="color: {{color}}">LES INFORMATIONS CLEFS</h2>
            <div class="arrow-info key-info-arrow" style="background-color: {{color}}">
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="key-info-row">
                            <span class="key-info">DATE:</span>
                            <p>{{ challenge.dateStart |format_datetime(pattern="dd MMMM Y",locale='fr') }}</p>
                        </div>
                        <div class="key-info-row">
                            <span class="key-info">LIEU:</span>
                            <p>{{ challenge.location | capitalize }}</p>
                        </div>
                        <div class="key-info-row">
                            <span class="key-info">DISTANCE:</span>
                            <p>{{challenge.distance}} km</p>
                        </div>
                        <div class="key-info-row">
                            <p class="mb-0"><span class="key-info">ETAPES:</span>
                                <a class="journey-link" data-toggle="modal" data-target="#modalJourney">Voir les grandes étapes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center">
            {% if app.user in challenge.participants %}
                <form class="align-middle align-self-center mb-4 form-kyosc" method="post" action="{{ path('challenge_leave', {id: challenge.id}) }}">
                    <input type="hidden" name="challengeId" value="{{ challenge.id }}">
                    <input type="hidden" name="token" value="{{ csrf_token('challenge-leave') }}"/>
                    <button
                            class="btn btn-register text-uppercase"
                            style="background-color: {{ color }}"
                    >JE NE PARTICIPE PLUS</button>
                </form>
            {% elseif app.user %}
                {% set isClanMember = false %}
                {% for clan in challenge.clans %}
                    {% if app.user in clan.members %}
                        {% set isClanMember = true %}
                    {% endif %}
                {% endfor %}
                {% if challenge.isPublic == true or isClanMember == true %}
                <form class="align-middle align-self-center mb-4 form-kyosc" method="post" action="{{ path('challenge_join', {id: challenge.id}) }}">
                    <input type="hidden" name="challengeId" value="{{ challenge.id }}">
                    <input type="hidden" name="token" value="{{ csrf_token('challenge-join') }}"/>
                    <button
                            class="btn btn-participation btn-lg text-uppercase text-white"
                            style="color:{{ color }}; border-color: {{ color }}; background-color: {{ color }}"
                    >JE PARTICIPE</button>
                </form>
                {% endif %}
            {% endif %}
            {% if app.user and app.user == challenge.creator %}
            <div class="form-kyosc">
                <a class="btn btn-participation text-uppercase text-white"
                   data-toggle="modal" data-target="#modalInvitation"
                   style="color:{{ color }}; border-color: {{ color }}; background-color: {{ color }}"
                >J'invite des amis</a>
            </div>
            {% endif %}
        </div>
    </section>

    {#        modal for journey pop-up#}
    {% if challenge.journey %}
    <div class="modal fade" id="modalJourney" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 style="color: {{color}}" class="modal-title" id="exampleModalLongTitle">ETAPES:</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ challenge.journey}}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="modal fade" id="modalJourney" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header align-self-center">
                    <h2 style="color: {{color}}" class="modal-title" id="exampleModalLongTitle">ETAPES:</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include 'challenge/_form_challenge-invitation.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {#       end of modal for journey pop-up#}

    {#        modal for challenge invitation pop-up#}
        <div class="modal fade" id="modalInvitation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 style="color: {{color}}" class="modal-title" id="exampleModalLongTitle">INVITER VOS AMIS A PARTICIPER A CETTE AVENTURE</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex justify-content-center">
                        {% include 'challenge/_form_challenge-invitation.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    {#       end of modal for journey pop-up#}

    {#        modal for youtube video pop-up#}
    <div class="modal fade" id="youtubeLinkForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 style="color: {{color}}" class="modal-title" id="exampleModalLongTitle">Partagez une video Youtube en lien avec cette aventure !</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    {% include 'video/_form_video.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {#       end of modal for youtube video pop-up#}

    <div class="container w-75 mx-auto my-5 challenge-organisator transparent-background-dark p-3">
        <h2 class="mb-3 h5 text-uppercase text-center" style="color: {{color}}">Qui organise l'aventure ?</h2>
        <div class="row">
            <div class="col-lg-6 col-12 d-flex justify-content-center flex-column">
                <a href="{{ path("profil_show", {id: challenge.creator.id}) }}" class="text-center">
                {% if challenge.creator.profilPhoto is not null %}
                    <img class="profil-photo-challenge mb-2" src="{{ vich_uploader_asset(challenge.creator, 'profilPhotoFile') }}" alt="profilPhoto of challenge creator">
                {% else %}
                    <img class="profil-photo-challenge mb-2" src="{{ asset('uploads/profils/default-profil-picture.png') }}" alt="default profil picture">
                {% endif %}
                </a>
                <h4>{{ challenge.creator.firstname }}</h4>
            </div>
            <div class="col-lg-6 col-12 mt-lg-3 text-center">
                <h3>Biographie</h3>
                {% if challenge.creator.biography is not null %}
                <p> {{ challenge.creator.biography }}</p>
                {% else %}
                <p>L'organisateur.trice de l'aventure n'a pas encore rédigé de biographie.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="w-75 mx-auto my-5 participants transparent-background-dark p-3">
        <h2 class="h5 text-uppercase text-center mb-4" style="color: {{color}}">{{ challenge.participants|length}} participant{{ challenge.participants|length>1?'s':''}}</h2>
        <div class=" container d-flex justify-content-center">
        {% for participant in challenge.participants %}
            <div class="d-flex flex-column align-items-center m-4">
                <a href="{{ path("profil_show", {id: participant.id}) }}">
                {% if participant.profilPhoto is not null %}
                    <img class="participant-photo-challenge mb-2 avatar" src="{{ vich_uploader_asset(participant, 'profilPhotoFile') }}" alt="profilPhoto of challenge creator">
                {% else %}
                    <img class="participant-photo-challenge mb-2 avatar" src="{{ asset('uploads/profils/default-profil-picture.png') }}" alt="default profil picture">
                {% endif %}
                </a>
                <p> {{ participant.firstname }}</p>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="w-75 mx-auto my-5 participants transparent-background-dark p-3">
        <h2>Commentaires</h2>
        <div class="d-flex flex-column w-100 scroll-comment">
            {% if challenge.messages|length >= 1 %}
                {% for message in challenge.messages|reverse %}
                    {% if message.isPublic %}
                        <div class="{% if app.user == message.author %}align-self-end text-right{% endif %} position-relative">
                            <div class="m-3 bubble {% if app.user == message.author %}bubble-bottom-right{% else %}bubble-bottom-left{% endif %}">
                                <p>{{ message.content }}</p>
                                {% if app.user %}
                                    {% if is_granted("ROLE_ADMIN") or app.user == message.author or app.user == challenge.creator %}
                                        {{ include('message/_delete_form.html.twig') }}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <h4 class="mt-4"><a href="{{ path("profil_show", {id: message.author.id}) }}" class="w-25 text-center">
                                    {% if message.author.profilPhoto is not null%}
                                        <img src="{{ vich_uploader_asset(message.author, 'profilPhotoFile') | imagine_filter('avatar_thumb') }}" alt="{{ message.author.profilPhoto }}" class="avatar-testimony">
                                    {% else %}
                                        <img src="{{ asset('uploads/profils/default-profil-picture.png') }}" alt="default profil picture " class="avatar-testimony">
                                    {% endif %}
                                </a>{{ message.author.pseudo? message.author.pseudo : message.author.firstname ~' '~ message.author.lastname}}</h4>
                            <span class="message-date">Posté le {{ message.createdAt |format_datetime(pattern="dd MMMM Y à HH'h'mm",locale='fr') }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Cette aventure n'a pas encore de commentaire</p>
            {% endif %}
        </div>
        {% if app.user %}
            <h3 class="mt-3">Ajoutez un commentaire !</h3>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
    </div>
    <div class="w-75 mx-auto my-5 participants transparent-background-dark p-3">
        <h2>Vidéos</h2>
        <a class="journey-link-dark" data-toggle="modal" data-target="#youtubeLinkForm">
            <h2 class="mt-5 arrow-header">Ajoutez des vidéos !<br>
                <img src="{{ asset('build/images/fleche/fbnoir.png') }}" class="w-25">
            </h2>
        </a>
        <div class="d-flex flex-column justify-content-center align-items-center w-100 scroll-comment">
            {% if challenge.videos|length >= 1 %}
                {% for video in challenge.videos|reverse %}
                    <div class="d-flex flex-column justify-content-center align-items-center m-3">
                        <h4>{{ video.title }}</h4>
                        <iframe class="youtube-embed-video" src="https://www.youtube.com/embed/{{ video.youtubeId }}?rel=0" frameborder="0" allowfullscreen></iframe>
                        <span class="message-date">Postée le {{ video.createdAt |format_datetime(pattern="dd MMMM Y à HH'h'mm",locale='fr') }} par {{ video.author.pseudo? video.author.pseudo : video.author.firstname ~' '~ video.author.lastname}}</span>
                    </div>
                 {% endfor %}
            {% else %}
                <p>Cette aventure n'a pas encore de vidéos</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
