{% extends 'email/base.html.twig' %}

{% block title %}
    Invitation à une aventure
{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Vous avez été invité à rejoindre une aventure KYOSC !</h1>
    <p>Hello, vous avez été convié·e·s par {{ user.firstName }} {{ user.lastName }} à rejoindre l'aventure "{{ challenge.title }}".</p>
    <p>Afin d'accepter ou refuser cette invitation, il vous faut vous connecter ou créer un compte sur la plateforme KYOSC :</p>
    <div class="m-3">
        <a href="{{url('app_login') }}" class="btn btn-success text-uppercase text-white mx-2">Se connecter</a>
        <a href="{{url('app_register') }}" class="btn btn-warning text-uppercase text-white mx-2">Créer un compte</a>
    </div>
    <p>Pour voir les détails de cette aventure:</p>
    <div class="m-3">
        <a href="{{url('challenge_show', {id: challenge.id}) }}" class="btn btn-info">Voir l'aventure</a>
    </div>
{% endblock %}
