{% extends 'email/base.html.twig' %}

{% block title %}
    Demande à rejoindre une aventure
{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Un membre KYOSC souhaite rejoindre l'une de vos aventures !</h1>
    <p>Hello, {{ user.firstName }} {{ user.lastName }} a fait une demande afin de rejoindre votre aventure "{{ challenge.title }}".</p>
    <p>Voici son message : {{ requestMessage }}</p>
    <p>Afin d'accepter ou refuser cette demande, il vous faut vous connecter sur la plateforme KYOSC :</p>
    <div class="m-3">
        <a href="{{url('app_login') }}" class="btn btn-success text-uppercase text-white mx-2">Se connecter</a>
    </div>
    <p>Pour voir les détails de cette aventure:</p>
    <div class="m-3">
        <a href="{{url('challenge_show', {id: challenge.id}) }}" class="btn btn-info">Voir l'aventure</a>
    </div>
{% endblock %}
