{% extends 'email/base.html.twig' %}

{% block title %}
    Demande à rejoindre un clan
{% endblock %}

{% block content %}
    <h1 class="text-center mb-4">Un membre KYOSC souhaite rejoindre l'un de vos clans !</h1>
    <p>Hello, {{ user.firstName }} {{ user.lastName }} a fait une demande afin de rejoindre votre clan "{{ clan.name }}".</p>
    <p>Voici son message : {{ requestMessage }}</p>
    <p>Afin d'accepter ou refuser cette demande, il vous faut vous connecter sur la plateforme KYOSC :</p>
    <div class="m-3">
        <a href="{{url('app_login') }}" class="btn btn-success text-uppercase text-white mx-2">Se connecter</a>
    </div>
    <p>Pour voir les détails de ce clan:</p>
    <div class="m-3">
        <a href="{{url('clan_show', {id: clan.id}) }}" class="btn btn-info">Voir le clan</a>
    </div>
{% endblock %}
